{% extends 'base.html.twig' %}

{% block body %}
    {{ parent() }}
    <div class="container blanc" style="min-height: 820px">
        <div class="col-lg-12"><h1 class="page-header"> Super Administration</h1></div>

        <div class="row">
            <div class="col-sm-12">
                <div class="panel panel-default ">
                    <div class="panel-heading" style="display: none">
                    </div>
                    <div class="panel-default  ">
                        <div class="col-xs-12">
                            <h4> Paramétrage Utilisateurs </h4>
                            <div class="panel-body ">
                                <ul>
                                    <li>ROLE_USER = simple visiteur (consultation des données).</li>
                                    <li>ROLE_FACTU et/ou ROLE_RACCO englobe ROLE_USER. = le service Racco peut créer/
                                        modifier des fiches ; le service
                                        facturation peut indiquer si la facturation est "OK".
                                    </li>
                                    <li>ROLE_ADMIN suppose le ROLE_RACCO = gestion des droits 'Racco' des utilisateurs
                                        et consultation des données
                                    </li>
                                    <li>ROLE_SUPER_ADMIN paramètre l'appli (tous rôles)</li>
                                </ul>
                                <hr>
                                {% for user in users %}
                                    <div class="col-sm-6">
                                    <b> {{ user.id }}. {{ user.username }} </b><br>
                                    <strong> Email :</strong>
                                    <span>
                                     {{ user.email }}</span><br>
                                    <strong>Rôle(s) : </strong>
                                    <span>
        {% for role in user.getRoles %}
            - {{ role }}
        {% endfor %}
             </span><br>
                                    <table class="table">
                                        <tr>
                                            <td><a class="btn btn-info"
                                                   href="{{ path('RoleFactu', { 'user_id': user.id } ) }}"> +
                                                    Rôle
                                                    FACTU</a>&nbsp;
                                                <a class="btn-danger btn"
                                                   href="{{ path('retraitRoleFactu', { 'user_id': user.id } ) }}"> -
                                                    FACTU</a></td>
                                            <td>
                                                <a class="btn btn-info"
                                                   href="{{ path('RoleRacco', { 'user_id': user.id } ) }}"> + Rôle
                                                    RACCO</a>&nbsp;
                                                <a class="btn-danger btn"
                                                   href="{{ path('retraitRoleRacco', { 'user_id': user.id } ) }}"> - RACCO</a>
                                            </td>
                                        </tr>
                                    </table>

                                    </div>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
